*{
    margin: 0;
    padding: 0;
}


ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

ul .cards.hide{
    display: none;
}

ul .cards.show {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


ul li{
    margin: 20px;
    padding: 10px;
    border: solid black 2px ;
    border-radius: 5px;
}

img{
    width: 300px;
}

