body {
    background-color:#181a27;
    font-family: 'Bebas Neue', cursive;
    font-size:x-large;
    color:#e88565
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}