*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HTML STYLE */
html{
    background-color: white;
}


/* BODY STYLE */
body{
    font-family: 'Space Mono', monospace;
}


/* NAVIGATION STYLE */
nav{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 800;
    width: 100vw;
    height: 90px;
    margin: auto;
    position: fixed;
    z-index: 1;
    background-color:white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    box-shadow: 0px 7px 7px rgba(214,0,255,0.15);
}


nav a{
    padding: 5px 20px;
    text-decoration: none;
    color: #00b8ff;
    position: relative;
    letter-spacing: .15em;
    transition: 1s;
    text-shadow: 5px 5px 5px rgba(214,0,255,0.2);;
}

nav a:hover{
    color: #00ff9f;
    transform: scale(1.05);
 
}

/* MAIN STYLE */
main{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 130px;
}


/* INTRO 1 STYLE */
.intro-1{
    width: 80%;
    margin: 0px auto 40px auto;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;
    background-color: #00b8ff;
    color: #00ff9f;
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(214,0,255,0.1);
}

.intro-1:hover{
    color: #ff31c1;
    background-color: #7CFFC4;
    cursor: pointer;
}

.container1-left, .container1-right{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1-left{
    font-size: 36px;
    font-weight: 700;
}

.container1-right{
    font-size: 20px;
    font-weight: 300;
}


/* INTRO 2 STYLE */
.intro-2{
    width: 80%;
    margin: 0px auto 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;
    background-color: #7CFFC4;
    color: #ff31c1;
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(214,0,255,0.1);
}

.intro-2:hover{
    color: #00ff9f;
    background-color: #00b8ff;
    cursor: pointer;
}

.container2-left, .container2-right{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2-left{
    font-size: 20px;
    font-weight: 300;
    
}

.container2-right{
    font-size: 36px;
    font-weight: 700;
}
