*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HTML STYLE */
html{
    background-color: white;
}


/* BODY STYLE */
body{
    font-family: 'Space Mono', monospace;
}


/* NAVIGATION STYLE */
nav{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 800;
    width: 100vw;
    height: 90px;
    margin: auto;
    position: fixed;
    z-index: 1;
    background-color:white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    box-shadow: 0px 7px 7px rgba(214,0,255,0.15);
}


nav a{
    padding: 5px 20px;
    text-decoration: none;
    color: #00b8ff;
    position: relative;
    letter-spacing: .15em;
    transition: 1s;
    text-shadow: 5px 5px 5px rgba(214,0,255,0.2);;
}

nav a:hover{
    color: #00ff9f;
    transform: scale(1.05);
 
}


/* nav a::after{
    content: "";
    position: absolute;
    background-color:#181a27;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

nav a:hover::after{
    width: 100%;
} */

/* MAIN STYLE */
main{
    position: relative;
    top: 90px;
}

ul li img{
    box-shadow: 7px 7px 7px rgba(214,0,255,0.15);
}


/* SECTION STYLE */

section{
    margin-bottom: 15px;
}

/* TEXT MARQUEE STYLE */
.text-marquee{
    background-color:#00b8ff;
    width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(214,0,255,0.15);
}

.text-marquee div{
    color: #00ff9f;
    font-size: 19px;
    font-weight: 700;
    animation: animate 60s linear infinite;
    padding-left: 100%;
    display: inline-block;
}

@keyframes animate{
    100%{transform: translateX(-100%);}
}

.text-marquee div:hover{
    animation-play-state: paused;
}

/* IMAGE MARQUEE STYLE 1 */
.img-marquee{
    width: 100vw;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.img-marquee-content {
    display: flex;
    flex-direction: row;
    animation: scrolling 30s linear infinite;
}

@keyframes scrolling{
    0%{ transform:translateX(0);}
    100%{ transform:translateX(-200vw);}
}

.img-marquee-content:hover {
    animation-play-state: paused;
    cursor:grab;
}


.img-marquee-content li {
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 8px;
    width: 20vw;
    height: auto;
    flex-shrink: 0;
    white-space: nowrap;
}

.img-marquee-content li img{
    width: 100%;
    border-radius: 20px;
}


/* IMAGE MARQUEE STYLE 2 */
.img-marquee-2{
    width: 100vw;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.img-marquee-content-2 {
    display: flex;
    flex-direction: row;
    animation: scrolling-reverse 30s linear infinite;
}

@keyframes scrolling-reverse{
    0%{ transform:translateX(-200vw);}
    100%{ transform:translateX(0);}
}

.img-marquee-content-2:hover {
    animation-play-state: paused;
    cursor: grab;
}


.img-marquee-content-2 li {
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 8px;
    width: 20vw;
    height: auto;
    flex-shrink: 0;
    white-space: nowrap;
}

.img-marquee-content-2 li img{
    width: 100%;
    border-radius: 20px;
}