*{
    margin: 0;
    padding: 0;
}

header{
    color: #181a27;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
}

header a{
    text-decoration: none;
    color: #181a27;
    font-weight: 400;
    font-size: 20px;
}

header a:hover{
    color: white;
    font-weight: 400;
    font-size: 24px;
}

body{
    background-color: #e88565;
}

.container{
    margin: 0;
    justify-content: center;
    display: flex;
    cursor: crosshair;
}


.box-1, .box-2{
    color: #e88565;
    background-color: #181a27;
    margin: 5%;
    padding: 70px;
    width: 40%;
    text-align: center;
}

h2{
    font-family: 'Libre Baskerville', serif;
    font-weight:900;
    font-size: 48px;
    transition: transform 500ms ease;
    border: #e88565 solid 2px;
}

h2:hover{
    transform: scale(1.1);
    color: white;
    background-color: #e88565;
}


.author{
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

.question{
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    font-size: 25px;
    text-decoration: underline;
    margin-top: 35px 0px;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.5em;
    transition: transform 500ms ease;
}

p:hover{
    transform: scale(1.1);
    color: white;
    background-color: #e88565;
}

.bibli{
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    margin-top: 35px;
}

.container a{
    color: #e88565;
    text-decoration: none;
    transition: transform 500ms ease;
}

.container a:hover{
    color: white;
    background-color: #e88565;
    transform: scale(1.1);
}

@media screen and (max-width:1024px){
    .container{
        flex-direction: column;
    }
    .box-1, .box-2{
        width: auto;
    }
    h2{
        border: none;
    }
}

@media screen and (max-width:768px){
    .container{
        flex-direction: column;
    }
    .box-1, .box-2{
        width: auto;
    }
    h2{
        border: none;
    }
}

@media screen and (max-width:600px){
    .container{
        flex-direction: column;
    }
    .box-1, .box-2{
        width: auto;
    }
    h2{
        border: none;
    }
}

@media screen and (max-width:480px){
    .container{
        flex-direction: column;
    }
    .box-1, .box-2{
        width: auto;
    }
    h2{
        border: none;
    }
}


@media screen and (max-width:320px){
    .container{
        flex-direction: column;
    }
    .box-1, .box-2{
        margin: 2%;
        padding: 0px;
    }
    h2{
        border: none;
    }
}