*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */
header{
    background-color: #ff9700;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5%;
}

header h1 a{
    font-weight: 600;
    font-size: 30px;
}

li,a{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 24px;
    color:white;
    text-decoration: none;
    transition: transform 500ms ease;
}

li,a:hover{
    transform: scale(1.1);

}

.logo{
    cursor: pointer;
    height: 65px;
}

.nav-links{
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav-links li{
    display: inline-block;
    justify-content: space-between;
    margin: 0 100px;
    padding: 0px, 100px;
}
/* header */

/* body*/
.home-image{
    width: 100%;
    height:auto;
    margin: 0;
}

.container{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ff9700;
    justify-content: center;
    align-items: center;
}

.engine-image{
    width: 100%;
    background-color: #e4e4e2;
    border-radius: 10px;
    transition: transform 500ms ease;
}

.intro{
    width: 80%;
    margin: 40px;
    padding:20px;
    background-color: #e4e4e2;
    color: black;
    border-radius: 10px;
    transition: transform 500ms ease;
}

.intro:hover{
    transform: scale(1.05);
}


.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #e4e4e2 solid 3px;
}

.left{
    width: 60%;
}

.right{
    width: 40%;
    float: right;
}

.livery-image{
    width: 90%;
    margin: 0 5%;
    height: auto;
    border:white solid 2px;
}

.intro h1{
    font-family: 'Space Mono', monospace;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
    color: rgb(71, 71, 71);
    background-color: #e4e4e2;
}

p{
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: rgb(71, 71, 71);
}


/* footer*/
footer{
    font-family: 'Space Mono', monospace;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    background-color:#e4e4e2
}
/* footer*/