*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HTML STYLE */
html{
    background-color: #f2f2f2;
}


/* BODY STYLE */
body{
    font-family: 'Space Mono', monospace;
}


/* NAVIGATION STYLE */
nav{
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 600;
    width: 100vw;
    height: 100px;
    margin: auto;
    position: fixed;
    z-index: 1;
    background-color: #f2f2f2;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav img{
    height: 100%;
    width: auto;
}


nav a{
    padding: 10px 20px;
    text-decoration: none;
    color: #ff31c1;
    position: relative;
    letter-spacing: .2em;
    line-height: 2;
    transition: 1s;
}

nav a:hover{
    color: #ffd102;
    background-color: #7CFFC4;
}

/* nav a::after{
    content: "";
    position: absolute;
    background-color:#181a27;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

nav a:hover::after{
    width: 100%;
} */


/* MAIN STYLE */
main{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
}


/* CARD CONTAINER STYLE */
.card-container{
    margin: 0 3.5% 0 1.5%;
    width: 70%;
}

.card-container ul{
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-container ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.card-container ul li{
    background-color: #ff31c1;
    color: #ffec1e;
    margin: 0px 20px 20px 20px;
    padding: 10px;
}

.card-container ul li:hover{
    background-color:#7CFFC4;
    color: #DB504A;
    transition: 0.75s;
    cursor: pointer;
}


.card-container ul li{
   box-shadow: 10px 10px 10px rgba(24,26,39,0.2);
}


.card-container ul li h3{
    font-size: 20px;
    font-weight: 700;
}

.card-container ul li h4{
    font-size: 16px;
    font-weight: 700;
}


.card-container img{
    margin-top: 10px;
    width: 378px;
    border-radius: 20px;
}

.card-container ul .cards.hide{
    display: none;
}

.card-container ul .cards.show {
    animation: fadeIn 0.5s ease;
}



/* FILTER CONTAINER STYLE */
.filter-container{
    margin: 0 1.5% 0 3.5%;
    width: 20%;
    color: #ffec1e;
}

.filter-content h1{
    font-size: 30px;
}

.filter-fixed{
    margin: auto;
    width: 20%;
    height: 80vh;
    position: fixed;
    background-color: #ff31c1;
    box-shadow: 10px 10px 10px rgba(24,26,39,0.2);
}


.filter-content{
    margin: 15px auto;
    width: 90%;
}

.black-line{
    margin: auto;
    background-color: #ffec1e;
    width: 100%;
    height: 1px;
}

.buttons{
    display: flex;
    flex-direction: column;
}


.filter-btn{
    margin: 10px;
    margin-left: 0;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 50px;
    border: none;
    background-color: #ffec1e;
    transition: 1s;
    color: #ff31c1;
}

.filter-btn:hover{
    color: #f2f2f2;
    background-color: #7CFFC4;
    cursor: pointer;
}




