*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HTML STYLE */
html{
    background-color: white;
}


/* BODY STYLE */
body{
    font-family: 'Space Mono', monospace;
}


/* NAVIGATION STYLE */
nav{
    font-family: "Rois Medium";
    font-size: 60px;
    font-weight: 300;
    width: 100vw;
    height: 90px;
    margin: auto;
    position: fixed;
    z-index: 1;
    background-color:white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    box-shadow: 0px 10px 10px rgba(214,0,255,0.15);
}


nav a{
    padding: 5px 20px;
    text-decoration: none;
    color: #00b8ff;
    position: relative;
    letter-spacing: .15em;
    transition: 1s;
    text-shadow: 4px 4px 8px rgba(214,0,255,0.25);;
}

nav a:hover{
    color: #00ff9f;
 
}


/* nav a::after{
    content: "";
    position: absolute;
    background-color:#181a27;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

nav a:hover::after{
    width: 100%;
} */


/* MAIN STYLE */
main{
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: row;
}


/* CARD CONTAINER STYLE */
.card-container{
    margin: 0 3.5% 0 1.5%;
    width: 70%;
    position: relative;
    top: 40px;
}

.card-container ul{
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-container ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.card-container ul li{
    background-color: #00b8ff;
    color: #00ff9f;
    margin: 0px 20px 20px 20px;
    padding: 10px;
}

.card-container ul li:hover{
    background-color:#00ff9f;
    color: #d600ff;
    transition: 0.75s;
    cursor: pointer;
}


.card-container ul li{
   box-shadow: 10px 10px 10px rgba(214,0,255,0.15);
}


.card-container ul li h3{
    font-size: 22px;
    font-weight: 700;
}

.card-container ul li h4{
    font-size: 18px;
    font-weight: 700;
}


.card-container img{
    margin-top: 10px;
    width: 378px;
    border-radius: 20px;
}

.card-container ul .cards.hide{
    display: none;
}

.card-container ul .cards.show {
    animation: fadeIn 0.5s ease;
}



/* FILTER CONTAINER STYLE */
.filter-container{
    position: relative;
    top: 40px;
    margin: 0 1.5% 0 3.5%;
    width: 20%;
    color: #00ff9f;
}

.filter-content h1{
    font-size: 30px;
}

.filter-fixed{
    margin: auto;
    width: 20%;
    height: 80vh;
    position: fixed;
    background-color: #00b8ff;
    box-shadow: 10px 10px 10px rgba(214,0,255,0.15);
}


.filter-content{
    margin: 15px auto;
    width: 90%;
}

.black-line{
    margin: auto;
    background-color: #00ff9f;
    width: 100%;
    height: 2px;
}

.buttons{
    display: flex;
    flex-direction: column;
}


.filter-btn{
    margin: 10px;
    margin-left: 0;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 50px;
    border: none;
    background-color: white;
    transition: 0.5s;
    color: #00ff9f;
    box-shadow: 7px 7px 7px rgba(214,0,255,0.15);
}

.filter-btn:hover{
    color: #d600ff;
    background-color: #00ff9f;
    cursor: pointer;
}




